.fengmian {
  width: 100%;
  height: 100%; /* 举例固定高度，你也可以根据需要设置 */
  overflow: hidden;
  position: relative;
  /*border-bottom-left-radius: 50% 200px;  /* 水平半圆弧 */
  /*border-bottom-right-radius: 50% 200px;*/
}

.fengmian-01 {
  width: 100%;
  height: 120%;
  object-fit: cover;
  display: block;
  transform: scale(1.02);
  filter: blur(0px);
  transition: transform 0.5s ease, filter 0.5s ease;
}

.fengmian:hover .fengmian-01 {
  transform: scale(1.1);
}

 .fengmian-02 {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     object-fit: cover;
     opacity: 1;
     transition: all 1s;
 }

 .fengmian-02hide {
     opacity: 0;
 }

 .fengmian-03 {
     position: absolute;
     width: 80%;
     height: auto;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -100%);
     opacity: 0;
     transition: all 1s;
 }

 #fengmian-03-mobile{
     display: none;
 }

 .fengmian-03show {
     opacity: 1;
     transform: translate(-50%, -50%);
 }